<div class="error_page_bg">
  <div class="container">
      <div class="error_section">
          <div class="row">
              <div class="col-12">
                  <div class="error_form">
                      <h1>404</h1>
                      <h2>Rất tiếc! TRANG KHÔNG ĐƯỢC TÌM HIỂU</h2>
                      <p>Xin lỗi nhưng trang bạn đang tìm kiếm không tồn tại, đã từng<br> đã xóa, tên đã thay đổi hoặc tạm thời không có sẵn.</p>
                      <form action="#">
                          <input placeholder="Search..." type="text">
                          <button type="submit"><i class="ion-ios-search-strong"></i></button>
                      </form>
                      <a href="index.html">Quay lại trang chủ</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
