<div class="breadcrumbs_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <ul>
                      <li><a href="index.html">Trang chủ</a></li>
                      <li>Giỏ hàng</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!--shopping cart area start -->
<div class="cart_page_bg">
  <div class="container">
      <div class="shopping_cart_area">
          <form action="#">
                  <div class="row">
                      <div class="col-12">
                          <div class="table_desc">
                              <div class="cart_page table-responsive">
                                  <table>
                                      <thead>
                                          <tr>
                                              <th class="product_remove">Xóa</th>
                                              <th class="product_thumb">Ảnh</th>
                                              <th class="product_name">Sản phẩm</th>
                                              <th class="product-price">Giá</th>
                                              <th class="product_quantity">Số lượng</th>
                                              <th class="product_total">Tổng</th>
                                          </tr>
                                      </thead>
                                      <tbody>

                                          <tr *ngFor="let un of items">
                                             <td class="product_remove"><a (click)="deleteItem(un.id)"><i class="fa fa-trash-o"></i></a></td>
                                              <td class="product_thumb"><a href="#"><img src="assets/img/s-product/{{un.image}}" alt=""></a></td>
                                              <td class="product_name"><a href="">{{un.name}}</a></td>
                                              <td class="product-price">{{un.price | currency:'VND':true:'1.0-2'}}</td>
                                              <td class="product_quantity"> <input min="1" max="100" [value]="un.quantity" type="number"></td>
                                              <td class="product_total">{{un.money | currency:'VND':true:'1.0-2'}}</td>
                                          </tr>

                                      </tbody>
                                  </table>
                              </div>
                              <div class="cart_submit">
                                  <button >Cập nhật giỏ hàng</button>
                              </div>
                          </div>
                       </div>
                   </div>
                   <!--coupon code area start-->
                  <div class="coupon_area">
                      <div class="row">
                          <div class="col-lg-6 col-md-6">
                              <div class="coupon_code left">
                                  <h3>Phiếu mua hàng</h3>
                                  <div class="coupon_inner">
                                      <p>Nhập mã phiếu giảm giá của bạn nếu bạn có.</p>
                                      <input placeholder="Mã giảm giá" type="text">
                                      <button type="submit">Áp dụng phiếu giảm giá</button>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                              <div class="coupon_code right">
                                  <h3>Tổng số giỏ hàng</h3>
                                  <div class="coupon_inner">
                                     <div class="cart_subtotal">
                                         <p>Tổng (<b> {{tongmuc}} sản phẩm</b>)</p>
                                         <p class="cart_amount">{{total | currency:'VND':true:'1.0-2'}}</p>
                                     </div>
                                     <div class="cart_subtotal ">
                                         <p>Phí vận chuyển</p>
                                         <p class="cart_amount"><span>Tỷ lệ cố định:</span> £255.00</p>
                                     </div>
                                     <a href="#">Tính toán vận chuyển</a>

                                     <div class="cart_subtotal">
                                         <p>Toàn bộ</p>
                                         <p class="cart_amount">£215.00</p>
                                     </div>
                                     <div class="checkout_btn">
                                         <a href="#">Tiến hành kiểm tra</a>
                                     </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--coupon code area end-->
              </form>
      </div>
  </div>
</div>
