<div class="breadcrumbs_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <ul>
                      <li><a href="index.html">Trang Chủ</a></li>
                      <li>Thanh Toán</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!--Checkout page section-->
<div class="checkout_page_bg">
  <div class="container">
      <div class="Checkout_section">
          <div class="row">
             <div class="col-12">
                  <div class="user-actions">

                       <div id="checkout_login" class="collapse" data-parent="#accordion">
                          <div class="checkout_info">
                              <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>
                              <form action="#">
                                  <div class="form_group">
                                      <label>Username or email <span>*</span></label>
                                      <input type="text">
                                  </div>
                                  <div class="form_group">
                                      <label>Password  <span>*</span></label>
                                      <input type="text">
                                  </div>
                                  <div class="form_group group_3 ">
                                      <button type="submit">Login</button>
                                      <label for="remember_box">
                                          <input id="remember_box" type="checkbox">
                                          <span> Remember me </span>
                                      </label>
                                  </div>
                                  <a href="#">Lost your password?</a>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="user-actions">

                       <div id="checkout_coupon" class="collapse" data-parent="#accordion">
                          <div class="checkout_info">
                              <form action="#">
                                  <input placeholder="Coupon code" type="text">
                                  <button type="submit">Áp dụng phiếu giảm giá</button>
                              </form>
                          </div>
                      </div>
                  </div>
             </div>
          </div>
          <div class="checkout_form">
              <div class="row">
                  <div class="col-lg-6 col-md-6">
                      <div class="checkout_form_left">
                          <form action="#">
                              <h3>Chi tiết thanh toán</h3>
                              <div class="row">

                                  <div class="col-lg-6 mb-20">
                                      <label>Tên <span>*</span></label>
                                      <input type="text">
                                  </div>
                                  <div class="col-lg-6 mb-20">
                                      <label>Họ <span>*</span></label>
                                      <input type="text">
                                  </div>


                                  <div class="col-12 mb-20">
                                      <label>Địa chỉ<span>*</span></label>
                                      <input placeholder="House number and street name" type="text">
                                  </div>
                                  <div class="col-12 mb-20">
                                      <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                  </div>
                                  <div class="col-12 mb-20">
                                      <label>Thị trấn / Thành phố <span>*</span></label>
                                      <input  type="text">
                                  </div>
                                   <div class="col-12 mb-20">
                                      <label>Quận / Huyện <span>*</span></label>
                                      <input type="text">
                                  </div>
                                  <div class="col-lg-6 mb-20">
                                      <label>Số điện thoại<span>*</span></label>
                                      <input type="text">

                                  </div>
                                   <div class="col-lg-6 mb-20">
                                      <label> Email<span>*</span></label>
                                        <input type="text">

                                  </div>

                                  <div class="col-12 mb-20">
                                      <input id="address" type="checkbox" data-target="createp_account" />
                                      <label class="righ_0" for="address" data-toggle="collapse" data-target="#collapsetwo" aria-controls="collapseOne">Gửi đến một địa chỉ khác?</label>

                                      <div id="collapsetwo" class="collapse one" data-parent="#accordion">
                                         <div class="row">
                                              <div class="col-lg-6 mb-20">
                                                  <label>Tên <span>*</span></label>
                                                  <input type="text">
                                              </div>
                                              <div class="col-lg-6 mb-20">
                                                  <label>Họ  <span>*</span></label>
                                                  <input type="text">
                                              </div>



                                              <div class="col-12 mb-20">
                                                  <label>Địa chỉ  <span>*</span></label>
                                                  <input placeholder="House number and street name" type="text">
                                              </div>
                                              <div class="col-12 mb-20">
                                                  <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                              </div>

                                              <div class="col-lg-6 mb-20">
                                                  <label>Số điện thoại<span>*</span></label>
                                                  <input type="text">

                                              </div>
                                               <div class="col-lg-6">
                                                  <label> Email <span>*</span></label>
                                                    <input type="text">

                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12">
                                      <div class="order-notes">
                                           <label for="order_note">Ghi chú đơn hàng</label>
                                          <textarea id="order_note" placeholder="Ghi chú về đơn đặt hàng của bạn, ví dụ: lưu ý đặc biệt để giao hàng."></textarea>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <div class="checkout_form_right">
                          <form action="#">
                              <h3>Đơn đặt hàng của bạn</h3>
                              <div class="order_table table-responsive">
                                  <table>
                                      <thead>
                                          <tr>
                                            <th>Ảnh</th>
                                              <th>Sản phẩm</th>
                                              <th>Giá</th>
                                              <th>Thành tiền</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let tt of thanhtoan">
                                            <td><img src="assets/img/s-product/{{tt.image}}" style="width:60px;height:60px" alt=""></td>
                                              <td> {{tt.name}} <strong> × {{tt.quantity}}</strong></td>
                                              <td>{{tt.price | currency:'VND':true:'1.0-2'}}</td>
                                              <td>{{tt.money | currency:'VND':true:'1.0-2'}}</td>
                                          </tr>

                                      </tbody>
                                      <tfoot>


                                          <tr class="order_total">
                                              <th colspan="3">Tổng đơn hàng ({{tongmuctt}} sản phẩm)</th>
                                              <td><strong>{{tongtientt | currency:'VND':true:'1.0-2'}}</strong></td>
                                          </tr>
                                      </tfoot>
                                  </table>
                              </div>
                              <div class="payment_method">
                                  <div class="order_button">
                                      <button  type="submit">Thanh Toán</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
