<div class="breadcrumbs_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <ul>
                      <li><a href="index.html">Trang chủ</a></li>
                      <li>shop</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!--shop  area start-->
<div class="shop_area shop_reverse">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-12">
             <!--sidebar widget start-->
              <aside class="sidebar_widget">
                  <div class="widget_list widget_categories">
                      <h3>Loại Sản Phẩm</h3>
                      <ul>
                          <li *ngFor="let item of list_cate"><a [routerLink]="['/sanpham/getloaisanpham/', item.id]">{{item.name}}</a></li>

                      </ul>
                  </div>
                  <div class="widget_list widget_categories">
                      <h3>Thương Hiệu</h3>
                      <ul>
                         <li *ngFor="let item of list_brand">
                              <input id="check5" type="checkbox">
                              <label for="check5">{{item.tenThuongHieu}}</label>
                              <span class="checkmark"></span>

                      </ul>
                  </div>

              </aside>
              <!--sidebar widget end-->
          </div>
          <div class="col-lg-9 col-md-12">

              <!--shop banner area start-->
              <div class="shop_banner_area mb-30">
                  <div class="row">
                      <div class="col-12">
                          <div class="shop_banner_thumb">
                              <img src="assets/img/bg/banner23.jpg" alt="">
                          </div>
                      </div>
                  </div>
              </div>
              <!--shop banner area end-->
              <!--shop toolbar start-->
              <div class="shop_toolbar_wrapper">
                  <div class="shop_toolbar_btn">
                      <button data-role="grid_4" type="button"  class="active btn-grid-4" data-toggle="tooltip" title="4"></button>
                      <button data-role="grid_3" type="button" class=" btn-grid-3" data-toggle="tooltip" title="3"></button>
                      <button data-role="grid_list" type="button"  class="btn-list" data-toggle="tooltip" title="List"></button>
                  </div>
                  <div class=" niceselect_option"*ngFor="let item of list_cate">
                      <form class="select_option" action="#">
                          <select name="orderby" id="short">
                              <option selected value="1">{{item.name}}</option>

                          </select>
                      </form>
                  </div>
                  <div class="page_amount">
                      <p>Showing 1–9 of 21 results</p>
                  </div>
              </div>
               <!--shop toolbar end-->
               <div class="row shop_wrapper">
                  <div class="col-lg-3 col-md-4 col-12 "*ngFor="let item of list_product">
                      <article class="single_product">
                          <figure>
                              <div class="product_thumb">
                                  <a class="primary_img" href="product-details.html"><img src="assets/img/product/{{item.image}}" alt=""></a>

                                  <div class="label_product">
                                      <span class="label_sale">-56%</span>
                                  </div>
                                  <div class="quick_button">
                                      <a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"><i class="icon-eye"></i></a>
                                  </div>
                              </div>
                              <div class="product_content grid_content">
                                  <div class="product_content_inner">
                                      <p class="manufacture_product"><a href="#">{{item.name}}</a></p>

                                      <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                         </ul>
                                      </div>
                                      <div class="price_box">
                                        <span class="old_price">{{item.promotionPrice | currency:'VND':true:'1.0-2'}}</span>
                                        <span class="current_price">{{item.price | currency:'VND'}}</span>
                                      </div>
                                  </div>
                                  <div class="action_links">
                                       <ul>
                                          <li class="add_to_cart"><a href="cart.html" title="Add to cart">Add to cart</a></li>
                                          <li class="wishlist"><a href="wishlist.html"  title="Add to Wishlist"><i class="icon-heart"></i></a></li>
                                          <li class="compare"><a href="#" title="Add to Compare"><i class="icon-rotate-cw"></i></a></li>
                                      </ul>
                                  </div>
                              </div>

                          </figure>
                      </article>
                  </div>

              </div>

              <div class="shop_toolbar t_bottom">
                  <div class="pagination">
                      <ul>
                          <li class="current">1</li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li class="next"><a href="#">next</a></li>
                          <li><a href="#">>></a></li>
                      </ul>
                  </div>
              </div>
              <!--shop toolbar end-->
              <!--shop wrapper end-->
          </div>
      </div>
  </div>
</div>
