<div class="newsletter_area">
  <div class="container">
      <div class="newsletter_inner">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="newsletter_container">
                      <h3>Theo chúng tôi</h3>
                      <p>Chúng tôi giúp việc hợp nhất, tiếp thị và theo dõi trang web truyền thông xã hội của bạn trở nên dễ dàng.</p>
                      <div class="footer_social">
                         <ul>
                             <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                             <li><a class="twitter" href="#"><i class="icon-twitter2"></i></a></li>
                             <li><a class="rss" href="#"><i class="icon-rss"></i></a></li>
                             <li><a class="youtube" href="#"><i class="icon-youtube"></i></a></li>
                             <li><a class="google" href="#"><i class="icon-google"></i></a></li>
                             <li><a class="instagram2" href="#"><i class="icon-instagram2"></i></a></li>
                         </ul>
                     </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="newsletter_container">
                      <h3>Bản tin ngay</h3>
                      <p>Tham gia cùng hơn 60.000 người đăng ký và nhận phiếu giảm giá mới vào thứ Tư hàng tuần.</p>
                      <div class="subscribe_form">
                          <form id="mc-form" class="mc-form footer-newsletter" >
                              <input id="mc-email" type="email" autocomplete="off" placeholder="Enter you email address here..." />
                              <button id="mc-submit">Đăng ký</button>
                          </form>
                          <!-- mailchimp-alerts Start -->
                          <div class="mailchimp-alerts text-centre">
                              <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                              <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                              <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                          </div><!-- mailchimp-alerts end -->
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-7">
                  <div class="newsletter_container col_3">
                      <h3>TẢI ỨNG DỤNG</h3>
                      <p>Ứng dụng Mazlay hiện đã có trên Google Play & App Store. Lấy nó ngay.</p>
                      <div class="app_img">
                         <ul>
                             <li><a href="#"><img src="assets/img/icon/icon-app.jpg" alt=""></a></li>
                             <li><a href="#"><img src="assets/img/icon/icon1-app.jpg" alt=""></a></li>
                         </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--newsletter area end-->

<!--footer area start-->
<footer class="footer_widgets">
  <!--shipping area start-->
  <div class="shipping_area">
      <div class="container">
          <div class="shipping_inner">
              <div class="single_shipping">
                  <div class="shipping_icone">
                      <img src="assets/img/about/shipping1.png" alt="">
                  </div>
                  <div class="shipping_content">
                      <h4>Giao hàng miễn phí</h4>
                      <p>Đối với tất cả các đơn đặt hàng trên $ 120</p>
                  </div>
              </div>
              <div class="single_shipping">
                  <div class="shipping_icone">
                      <img src="assets/img/about/shipping2.png" alt="">
                  </div>
                  <div class="shipping_content">
                      <h4>Giao hàng miễn phí</h4>
                      <p>Đối với tất cả các đơn đặt hàng trên $ 120</p>
                  </div>
              </div>
              <div class="single_shipping">
                  <div class="shipping_icone">
                      <img src="assets/img/about/shipping3.png" alt="">
                  </div>
                  <div class="shipping_content">
                      <h4>Giao hàng miễn phí</h4>
                      <p>Đối với tất cả các đơn đặt hàng trên $ 120</p>
                  </div>
              </div>
              <div class="single_shipping">
                  <div class="shipping_icone">
                      <img src="assets/img/about/shipping4.png" alt="">
                  </div>
                  <div class="shipping_content">
                      <h4>Giao hàng miễn phí</h4>
                      <p>Đối với tất cả các đơn đặt hàng trên $ 120</p>
                  </div>
              </div>
              <div class="single_shipping">
                  <div class="shipping_icone">
                      <img src="assets/img/about/shipping5.png" alt="">
                  </div>
                  <div class="shipping_content">
                      <h4>Giao hàng miễn phí</h4>
                      <p>Đối với tất cả các đơn đặt hàng trên $ 120</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--shipping area end-->
  <div class="footer_top">
      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <div class="widgets_container">
                      <h3>THÔNG TIN LIÊN LẠC</h3>
                      <div class="footer_contact">
                         <div class="footer_contact_inner">
                              <div class="contact_icone">
                                  <img src="assets/img/icon/icon-phone.png" alt="">
                              </div>
                              <div class="contact_text">
                                  <p>Hotline Miễn phí 24/24: <br> <strong><a href="tel:+(+800)123456789">032.857.9082</a> </strong></p>
                              </div>
                          </div>


                      </div>
                  </div>
              </div>
              <div class="col-lg-9">
                 <div class="footer_col_container">
                      <div class="widgets_container widget_menu">
                          <h3>Thông tin</h3>
                          <div class="footer_menu">
                              <ul>
                                  <li><a href="about.html">Về chúng tôi</a></li>
                                  <li><a href="#">Thông tin giao hàng</a></li>
                                  <li><a href="#">Sản phẩm mới</a></li>
                                  <li><a href="#">Hàng bán tốt nhất</a></li>
                                  <li><a href="my-account.html">Tài khoản của tôi</a></li>
                                  <li><a href="#">Lịch sử đơn hàng</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="widgets_container widget_menu">
                          <h3>Dịch vụ khách hàng</h3>
                          <div class="footer_menu">
                              <ul>
                                  <li><a href="my-account.html">Tài khoản của tôi</a></li>
                                  <li><a href="cart.html">Giỏ hàng</a></li>
                                  <li><a href="wishlist.html">Danh sách mong muốn</a></li>
                                  <li><a href="#">Giá giảm</a></li>
                                  <li><a href="#">Lịch sử đơn hàng</a></li>
                                  <li><a href="#">Đơn hàng quốc tế</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="widgets_container widget_menu">
                          <h3>Tài khoản của tôi</h3>
                          <div class="footer_menu">
                              <ul>
                                  <li><a href="#">Sơ đồ trang web</a></li>
                                  <li><a href="my-account.html">Tài khoản của tôi</a></li>
                                  <li><a href="#">Thông tin giao hàng</a></li>
                                  <li><a href="#">Lịch sử đơn hàng</a></li>
                                  <li><a href="wishlist.html">Giá giảm</a></li>
                                  <li><a href="#">Đặc biệt</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="widgets_container widget_menu">
                          <h3>Bổ sung</h3>
                          <div class="footer_menu">
                              <ul>
                                  <li><a href="#">Nhãn hiệu</a></li>
                                  <li><a href="#">Phiếu quà tặng</a></li>
                                  <li><a href="#">Chi nhánh</a></li>
                                  <li><a href="#">Đặc biệt</a></li>
                                  <li><a href="wishlist.html">Giá giảm</a></li>
                                  <li><a href="#">Bản tin</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="widgets_container widget_menu">
                          <h3>Thanh toán & Phương thức</h3>
                          <div class="footer_menu">
                              <ul>
                                  <li><a href="#">Thanh toán & Phương thức</a></li>
                                  <li><a href="my-account.html">Tài khoản của tôi</a></li>
                                  <li><a href="#">Xem tất cả các ưu đãi tuyệt vời</a></li>
                                  <li><a href="#">Địa điểm chúng tôi giao hàng đến</a></li>
                                  <li><a href="#">Câu hỏi thường gặp</a></li>
                                  <li><a href="#">Thời gian giao hàng ước tính</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer_bottom">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                  <div class="copyright_area">
                      <p>Bản quyền &copy; 2020 <a href="#">Mazlay</a>  Tất cả các quyền.</p>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                 <div class="footer_payment text-right">
                      <img src="assets/img/icon/payment.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!--footer area end-->

<!-- modal area start-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal_body">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-5 col-md-5 col-sm-12">
                          <div class="modal_tab">
                              <div class="tab-content product-details-large">
                                  <div class="tab-pane fade show active" id="tab1" role="tabpanel" >
                                      <div class="modal_tab_img">
                                          <a href="#"><img src="assets/img/product/productbig1.jpg" alt=""></a>
                                      </div>
                                  </div>
                                  <div class="tab-pane fade" id="tab2" role="tabpanel">
                                      <div class="modal_tab_img">
                                          <a href="#"><img src="assets/img/product/productbig2.jpg" alt=""></a>
                                      </div>
                                  </div>
                                  <div class="tab-pane fade" id="tab3" role="tabpanel">
                                      <div class="modal_tab_img">
                                          <a href="#"><img src="assets/img/product/productbig3.jpg" alt=""></a>
                                      </div>
                                  </div>
                                  <div class="tab-pane fade" id="tab4" role="tabpanel">
                                      <div class="modal_tab_img">
                                          <a href="#"><img src="assets/img/product/productbig4.jpg" alt=""></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="modal_tab_button">
                                  <ul class="nav product_navactive owl-carousel" role="tablist">
                                      <li >
                                          <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="assets/img/product/product2.jpg" alt=""></a>
                                      </li>
                                      <li>
                                           <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="assets/img/product/product6.jpg" alt=""></a>
                                      </li>
                                      <li>
                                         <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="assets/img/product/product9.jpg" alt=""></a>
                                      </li>
                                      <li>
                                         <a class="nav-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><img src="assets/img/product/product3.jpg" alt=""></a>
                                      </li>

                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-12">
                          <div class="modal_right">
                              <div class="modal_title mb-10">
                                  <h2>Sit voluptatem rhoncus sem lectus</h2>
                              </div>
                              <div class="modal_price mb-10">
                                  <span class="new_price">$64.99</span>
                                  <span class="old_price" >$78.99</span>
                              </div>
                              <div class="modal_description mb-15">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel recusandae </p>
                              </div>
                              <div class="variants_selects">
                                  <div class="variants_size">
                                     <h2>size</h2>
                                     <select class="select_option">
                                         <option selected value="1">s</option>
                                         <option value="1">m</option>
                                         <option value="1">l</option>
                                         <option value="1">xl</option>
                                         <option value="1">xxl</option>
                                     </select>
                                  </div>
                                  <div class="variants_color">
                                     <h2>color</h2>
                                     <select class="select_option">
                                         <option selected value="1">purple</option>
                                         <option value="1">violet</option>
                                         <option value="1">black</option>
                                         <option value="1">pink</option>
                                         <option value="1">orange</option>
                                     </select>
                                  </div>
                                  <div class="modal_add_to_cart">
                                      <form action="#">
                                          <input min="1" max="100" step="2" value="1" type="number">
                                          <button type="submit">add to cart</button>
                                      </form>
                                  </div>
                              </div>
                              <div class="modal_social">
                                  <h2>Share this product</h2>
                                  <ul>
                                      <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                      <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                      <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                      <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                      <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- modal area end-->

<!--news letter popup start-->
