<div class="top_tags_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="tags_content">
                  <ul>
                      <li><span>Thẻ hàng đầu:</span></li>
                      <li><a href="#">Cần câu</a></li>
                      <li><a href="#">Combo cần và máy</a></li>
                      <li><a href="#">Máy câu</a></li>
                      <li><a href="#">Phao</a></li>
                      <li><a href="#">Dây câu</a></li>
                      <li><a href="#">Mồi câu</a></li>
                      <li><a href="#">Lưỡi câu</a></li>
                      <li><a href="#">Phụ kiện</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--top tags area end-->

<!--slider area start-->
<section class="slider_section mb-80">
  <div class="slider_area slider_carousel owl-carousel">
      <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider9.jpg">
         <div class="container">
             <div class="row">
                 <div class="col-12">
                     <div class="slider_content">
                          <h1>Giảm giá lớn <span>Phụ kiện đồ câu</span></h1>
                          <p>Ưu đãi độc quyền -30% trong tuần này</p>
                          <a class="button" href="shop.html">mua sắm ngay bây giờ <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                      </div>
                 </div>
             </div>
         </div>
      </div>
      <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider10.jpg">
          <div class="container">
             <div class="row">
                 <div class="col-12">
                     <div class="slider_content center">
                          <h1>Phụ kiện  <span>đồ câu các loại</span></h1>
                          <p>Ưu đãi độc quyền -30% trong tuần này</p>
                          <a class="button" href="shop.html">mua sắm ngay bây giờ <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                      </div>
                 </div>
             </div>
         </div>
      </div>
      <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider11.jpg">
          <div class="container">
             <div class="row">
                 <div class="col-12">
                     <div class="slider_content">
                          <h1>Cao cấp <span>đồ câu mới</span> </h1>
                          <p>Ưu đãi độc quyền -20% trong tuần này</p>
                          <a class="button" href="shop.html">mua sắm ngay bây giờ <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                      </div>
                 </div>
             </div>
         </div>
      </div>
  </div>
</section>
<!--slider area end-->

<!--banner area start-->
<div class="banner_area mb-80">
  <div class="container">
     <div class="row">
         <div class="col-12">
             <div class="welcome_title">
                 <h3>CHÀO MỪNG BẠN ĐẾN VỚI MAZLAY</h3>
                 <h2>TẬP QUÁN <span>CỬA HÀNG MUA SẮM TRỰC TUYẾN</span></h2>
                 <p>Phụ kiện thiết kế. Được thiết kế cục bộ. Toàn cầu được chế tác.</p>
             </div>
         </div>
     </div>
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <figure class="single_banner">
                  <div class="banner_thumb">
                      <a href="shop.html"><img src="assets/img/bg/sp23.jpg" alt=""></a>
                  </div>
              </figure>
          </div>
          <div class="col-lg-4 col-md-4">
            <figure class="single_banner">
                <div class="banner_thumb">
                    <a href="shop.html"><img src="assets/img/bg/sp21.jpg" alt=""></a>
                </div>
            </figure>
        </div>
        <div class="col-lg-4 col-md-4">
          <figure class="single_banner">
              <div class="banner_thumb">
                  <a href="shop.html"><img src="assets/img/bg/sp22.jpg" alt=""></a>
              </div>
          </figure>
      </div>

      </div>
  </div>
</div>
<!--banner area end-->

<!--Categories product area start-->
<div class="categories_product_area mb-80">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="categories_product_inner categories_column7 owl-carousel">
          <div class="single_categories_product">
              <div class="categories_product_thumb">
                  <a href="shop.html"><img src="assets/img/s-product/sp13.jpg" alt=""></a>
              </div>
              <div class="categories_product_content">
                  <h4><a href="shop.html">Cần câu</a></h4>
              </div>
          </div>
          <div class="single_categories_product">
              <div class="categories_product_thumb">
                  <a href="shop.html"><img src="assets/img/s-product/sp23.jpg" alt=""></a>
              </div>
              <div class="categories_product_content">
                  <h4><a href="shop.html">Combo Cần & Máy</a></h4>
              </div>
          </div>
          <div class="single_categories_product">
              <div class="categories_product_thumb">
                  <a href="shop.html"><img src="assets/img/s-product/sp46.jpg" alt=""></a>
              </div>
              <div class="categories_product_content">
                  <h4><a href="shop.html">Máy Câu</a></h4>
              </div>
          </div>
          <div class="single_categories_product">
              <div class="categories_product_thumb">
                  <a href="shop.html"><img src="assets/img/s-product/sp66.jpg" alt=""></a>
              </div>
              <div class="categories_product_content">
                  <h4><a href="shop.html">Phao</a></h4>
              </div>
          </div>
          <div class="single_categories_product">
              <div class="categories_product_thumb">
                  <a href="shop.html"><img src="assets/img/s-product/sp34.jpg" alt=""></a>
              </div>
              <div class="categories_product_content">
                  <h4><a href="shop.html">Dây Câu</a></h4>
              </div>
          </div>
          <div class="single_categories_product">
              <div class="categories_product_thumb">
                  <a href="shop.html"><img src="assets/img/s-product/sp61.jpg" alt=""></a>
              </div>
              <div class="categories_product_content">
                  <h4><a href="shop.html">Mồi Câu</a></h4>
              </div>
          </div>
          <div class="single_categories_product">
              <div class="categories_product_thumb">
                  <a href="shop.html"><img src="assets/img/s-product/sp43.jpg" alt=""></a>
              </div>
              <div class="categories_product_content">
                  <h4><a href="shop.html"> Lưỡi Câu</a></h4>
              </div>
          </div>

      </div>
          </div>
      </div>
  </div>
</div>
<!--Categories product area end-->

<!--home section bg area start-->
<div class="home_section_bg">
  <!--product area start-->
  <div class="product_area">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="section_title">
                     <h2><span>Sản phẩm</span>của chúng tôi</h2>
                  </div>
                  <div class="product_tab_btn">
                      <ul class="nav" role="tablist">
                          <li>
                              <a class="active" data-toggle="tab" href="#Sellers" role="tab" aria-controls="Sellers" aria-selected="true">
                                  Bán chạy nhất
                              </a>
                          </li>
                          <li>
                              <a data-toggle="tab" href="#Featured" role="tab" aria-controls="Featured" aria-selected="false">
                                  Sản phẩm nổi bật
                              </a>
                          </li>
                          <li>
                              <a data-toggle="tab" href="#Arrivals" role="tab" aria-controls="Arrivals" aria-selected="false">
                                 Sản phẩm mới
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="tab-content">
              <div class="tab-pane fade show active" id="Sellers" role="tabpanel">
                  <div class="row">
                      <div class="product_carousel product_column5 owl-carousel">
                         <div class="col-lg-3"*ngFor="let item of list_item">
                             <div class="product_items">
                                  <article class="single_product">
                                      <figure>
                                          <div class="product_thumb">
                                              <a class="primary_img" href="product-details.html"><img src="assets/img/product/{{item.image}}" alt=""></a>
                                              <a class="secondary_img" href="product-details.html"><img src="assets/img/product/{{item.image}}" alt=""></a>
                                              <div class="label_product">
                                                  <span class="label_sale">-52%</span>
                                              </div>
                                              <div class="quick_button">
                                                  <a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"><i class="icon-eye"></i></a>
                                              </div>
                                              <div class="action_links">
                                                <ul>
                                                   <li class="add_to_cart"><a (click)="addToCart(item)" title="Add to cart">Add to cart</a></li>
                                                   <li class="wishlist"><a href="wishlist.html"  title="Add to Wishlist"><i class="icon-heart"></i></a></li>
                                                   <li class="compare"><a href="compare.html" title="Add to Compare"><i class="icon-rotate-cw"></i></a></li>
                                               </ul>
                                           </div>
                                          </div>
                                      </figure>
                                  </article>
                                  <article>
                                      <figure>
                                          <div class="product_content">
                                              <div class="product_content_inner">
                                                  <p class="manufacture_product"><a href="#"></a></p>
                                                  <h4 class="product_name"><a [routerLink]="['/sanpham/chitiet',item.id]">{{item.name}}</a></h4>
                                                  <div class="product_rating">
                                                     <ul>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                     </ul>
                                                  </div>
                                                  <div class="price_box">
                                                      <span class="old_price">{{item.promotionPrice | currency:'VND':true:'1.0-2'}}</span>
                                                      <span class="current_price">{{item.price | currency:'VND'}}</span>
                                                  </div>
                                              </div>
                                              <div class="action_links">
                                                   <ul>
                                                      <li class="add_to_cart"><a (click)="addToCart(item)" title="Add to cart">Add to cart</a></li>
                                                      <li class="wishlist"><a href="wishlist.html"  title="Add to Wishlist"><i class="icon-heart"></i></a></li>
                                                      <li class="compare"><a href="compare.html" title="Add to Compare"><i class="icon-rotate-cw"></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </figure>
                                    </article>
                              </div>
                         </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="Featured" role="tabpanel">
                  <div class="row">
                      <div class="product_carousel product_column5 owl-carousel">
                         <div class="col-lg-3" *ngFor="let item of list_item">
                             <div class="product_items">
                                  <article class="single_product">
                                      <figure>
                                          <div class="product_thumb">
                                              <a class="primary_img" href="product-details.html"><img src="assets/img/product/{{item.image}}" alt=""></a>


                                              <div class="label_product">
                                                  <span class="label_new">new</span>
                                              </div>
                                              <div class="quick_button">
                                                  <a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"><i class="icon-eye"></i></a>
                                              </div>
                                          </div>
                                          <div class="product_content">
                                              <div class="product_content_inner">
                                                  <p class="manufacture_product"><a href="#">Parts</a></p>
                                                  <h4 class="product_name"><a href="product-details.html">{{item.name}}</a></h4>
                                                  <div class="product_rating">
                                                     <ul>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                     </ul>
                                                  </div>
                                                  <div class="price_box">
                                                    <span class="old_price">{{item.promotionPrice | currency:'VND':true:'1.0-2'}}</span>
                                                    <span class="current_price">{{item.price | currency:'VND'}}</span>
                                                  </div>
                                              </div>
                                              <div class="action_links">
                                                   <ul>
                                                      <li class="add_to_cart"><a href="cart.html" title="Add to cart">Add to cart</a></li>
                                                      <li class="wishlist"><a href="wishlist.html"  title="Add to Wishlist"><i class="icon-heart"></i></a></li>
                                                      <li class="compare"><a href="compare.html" title="Add to Compare"><i class="icon-rotate-cw"></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </figure>
                                  </article>

                              </div>
                         </div>

                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="Arrivals" role="tabpanel">
                  <div class="row">
                      <div class="product_carousel product_column5 owl-carousel">
                        <div class="col-lg-3"*ngFor="let item of list_item">
                             <div class="product_items">
                                  <article class="single_product">
                                      <figure>
                                          <div class="product_thumb">
                                              <a class="primary_img" href="product-details.html"><img src="assets/img/product/{{item.image}}" alt=""></a>

                                              <div class="label_product">
                                                  <span class="label_sale">-52%</span>
                                              </div>
                                              <div class="quick_button">
                                                  <a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"><i class="icon-eye"></i></a>
                                              </div>
                                          </div>
                                          <div class="product_content">
                                              <div class="product_content_inner">
                                                  <p class="manufacture_product"><a href="#">Parts</a></p>
                                                  <h4 class="product_name"><a [routerLink]="['/sanpham/chitiet',item.id]">{{item.name}}</a></h4>
                                                  <div class="product_rating">
                                                     <ul>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                         <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                     </ul>
                                                  </div>
                                                  <div class="price_box">
                                                    <span class="old_price">{{item.promotionPrice | currency:'VND':true:'1.0-2'}}</span>
                                                    <span class="current_price">{{item.price | currency:'VND'}}</span>
                                                  </div>
                                              </div>
                                              <div class="action_links">
                                                   <ul>
                                                      <li class="add_to_cart"><a (click)="addToCart(item)" title="Add to cart">Add to cart</a></li>
                                                      <li class="wishlist"><a href="wishlist.html"  title="Add to Wishlist"><i class="icon-heart"></i></a></li>
                                                      <li class="compare"><a href="compare.html" title="Add to Compare"><i class="icon-rotate-cw"></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </figure>
                                  </article>

                              </div>
                         </div>

                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
  <!--product area end-->

  <!--banner area start-->
  <div class="banner_area mb-80" style="text-align: center;">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <figure class="single_banner">
                      <div class="banner_thumb">
                          <a href="shop.html"><img src="assets/img/bg/sp23.jpg" alt=""></a>
                      </div>
                  </figure>
              </div>
              <div class="col-lg-6 col-md-6">
                  <figure class="single_banner">
                      <div class="banner_thumb">
                          <a href="shop.html"><img src="assets/img/bg/sp6.jpg" alt=""></a>
                      </div>
                  </figure>
              </div>
          </div>
      </div>
  </div>
  <!--banner area end-->

  <!--product area start-->
  <div class="product_area">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="section_title title_style2">
                     <div class="title_content">
                         <h2><span>Giảm giá</span> Sản phẩm</h2>
                          <p>Các sản phẩm chiết khấu cao nhất của ShopDoCau Hoàng Thành </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="product_container">
             <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <div class="product_style_left">
                          <article class="single_product">
                              <figure>
                                  <div class="product_thumb">
                                      <a class="primary_img" href="product-details.html"><img src="assets/img/product/{{item_1sp.image}}" alt=""></a>
                                      <div class="label_product">
                                          <span class="label_sale">-52%</span>
                                      </div>
                                  </div>
                                  <div class="product_content">
                                      <p class="manufacture_product"><a href="#">Parts</a></p>
                                      <h4 class="product_name"><a [routerLink]="['/sanpham/chitiet',item_1sp.id]">{{item_1sp.name}}</a></h4>
                                      <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                         </ul>
                                      </div>
                                      <div class="price_box">
                                        <span class="old_price">{{item_1sp.promotionPrice | currency:'VND':true:'1.0-2'}}</span>
                                        <span class="current_price">{{item_1sp.price | currency:'VND'}}</span>
                                      </div>
                                      <div class="product_desc">
                                          <p>{{item_1sp.description}}</p>
                                      </div>
                                      <div class="action_links">
                                           <ul>
                                              <li class="add_to_cart"><a (click)="addToCart(item_1sp)" title="Add to cart">Add to cart</a></li>
                                              <li class="quick_view"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"><i class="icon-search"></i></a></li>
                                              <li class="wishlist"><a href="wishlist.html"  title="Add to Wishlist"><i class="icon-heart"></i></a></li>
                                              <li class="compare"><a href="compare.html" title="Add to Compare"><i class="icon-rotate-cw"></i></a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </figure>
                          </article>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="product_style_right">
                          <div class="row">
                              <div class="product_carousel product_column3 owl-carousel">
                                  <div class="col-lg-3"*ngFor="let item of list_item">
                                      <article class="single_product">
                                              <figure>
                                                  <div class="product_thumb">
                                                      <a class="primary_img" href="product-details.html"><img src="assets/img/product/{{item.image}}" alt=""></a>

                                                      <div class="label_product">
                                                          <span class="label_sale">-44%</span>
                                                      </div>
                                                      <div class="quick_button">
                                                          <a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"><i class="icon-eye"></i></a>
                                                      </div>
                                                  </div>
                                                  <div class="product_content">
                                                      <div class="product_content_inner">
                                                          <p class="manufacture_product"><a href="#">Parts</a></p>
                                                          <h4 class="product_name"><a [routerLink]="['/sanpham/chitiet',item.id]">{{item.name}}</a></h4>
                                                          <div class="product_rating">
                                                             <ul>
                                                                 <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                                 <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                                 <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                                 <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                                 <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                             </ul>
                                                          </div>
                                                          <div class="price_box">
                                                            <span class="old_price">{{item.promotionPrice | currency:'VND':true:'1.0-2'}}</span>
                                                            <span class="current_price">{{item.price | currency:'VND'}}</span>
                                                          </div>
                                                      </div>
                                                      <div class="action_links">
                                                           <ul>
                                                              <li class="add_to_cart"><a (click)="addToCart(item)" title="Add to cart">Add to cart</a></li>
                                                              <li class="wishlist"><a href="wishlist.html"  title="Add to Wishlist"><i class="icon-heart"></i></a></li>
                                                              <li class="compare"><a href="compare.html" title="Add to Compare"><i class="icon-rotate-cw"></i></a></li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                              </figure>
                                          </article>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
             </div>

          </div>
      </div>
  </div>
  <!--product area end-->
</div>
<!--home section bg area end-->

<!--brand area start-->
<div class="brand_area">
  <div class="container">
      <div class="col-12">
          <div class="brand_container owl-carousel ">
              <div class="brand_list">
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand1.jpg" alt=""></a>
                  </div>
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand2.jpg" alt=""></a>
                  </div>
              </div>
              <div class="brand_list">
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand3.jpg" alt=""></a>
                  </div>
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand4.jpg" alt=""></a>
                  </div>
              </div>
              <div class="brand_list">
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand5.jpg" alt=""></a>
                  </div>
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand6.jpg" alt=""></a>
                  </div>
              </div>
              <div class="brand_list">
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand7.jpg" alt=""></a>
                  </div>
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand8.jpg" alt=""></a>
                  </div>
              </div>
               <div class="brand_list">
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand1.jpg" alt=""></a>
                  </div>
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand2.jpg" alt=""></a>
                  </div>
              </div>
              <div class="brand_list">
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand3.jpg" alt=""></a>
                  </div>
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand4.jpg" alt=""></a>
                  </div>
              </div>
              <div class="brand_list">
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand5.jpg" alt=""></a>
                  </div>
                  <div class="single_brand">
                      <a href="#"><img src="assets/img/brand/brand6.jpg" alt=""></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
